main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  min-height: 100vh;
  margin: 0 auto;
  margin-top: 10rem;
  width: 70%;
  justify-content: center;

}
.polozka{
  display: flex;
  align-items: start;
  background-color: #323131;
  margin: 1rem;
  border-radius: 1rem;
  transition: 0.15s ease-out;
  width: 100%;
  padding: 1rem;

}
.kosik_text{
    width: 100%;
}
.kosikpic{
    max-width:50%;
    background-color: #4c4949;
    border-radius: 1rem;
    max-height: 20rem;
    
}
.about_kosik{
    margin-left: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}
h1{
    font-size: 5rem;
}
h2{
    font-size: 3rem;
}
p{
    font-size: 2rem;
}
.cena{
    font-size: 3rem;
    color:red;
}
.sneaky{
    font-size: 1rem;
    opacity: 60%;
    
}
.pokracovat_wrapper{
    
    align-self: flex-end;
    background-color:#4c4949 ;
    transition: 0.15s ease-out;
    border-radius: 0.5rem;
}
.pokracovat_txt{
    transition: 0.15s ease-out;
}
.pokracovat_wrapper:hover .pokracovat_txt{
    color:#808080 ;
}

.pokracovat{
    border-radius: 1rem;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 0.8rem;
    padding: 0.75rem;
    transition: 0.15s ease-out;
}

.txt_btn_wrapper{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.cancel{
    width: 3rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    padding: 0;
    fill: white;
    margin-right: 0.5rem;
    transition: 0.15s ease-out;
}
.cancel:hover{
    fill: #808080;
}
button{
    border: 0;
    padding: 0;
    background-color: transparent;

}


.pokracovat:hover .sipka_path{
   
}
.sipka{
    width: 2rem;
    height: 2rem;
    
}
.sipka_path{
    stroke: white;
    transition: 0.15s ease-out;
}
