
.form_wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.sekcia_formulara {
    background-color: #323131;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: 0.15s ease-out;
}

.sekcia_formulara h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: white;
}


input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 1rem;
    font-family: "Sansation", sans-serif;
    font-size: 1.2rem;
    background-color: #4c4949;
    border: none;
    border-radius: 0.5rem;
    color: white;
    outline: none;
    transition: 0.15s ease-out;
}

input:focus {
    background-color: #666;
}


.input_row {
    display: flex;
    gap: 1rem;
}
@media (max-width: 768px) {
    .input_row {
        flex-direction: column;
    }
}


.moznost_platby {
    display: flex;
    align-items: center;
    background-color: #4c4949;
    padding: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    transition: 0.15s ease-out;
}

.moznost_platby:hover {
    background-color: #666;
}

.moznost_platby input {
    margin-right: 1rem;
    transform: scale(1.5);
    accent-color: #808080;
}

.moznost_platby span {
    font-size: 1.5rem;
}